@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.fc-scrollgrid,
.fc-scrollgrid td,
.fc-scrollgrid th {
    border-color: rgba(217, 64, 64, 0.3) !important;
}

/* < > today 버튼 */
.fc .fc-button {
    background-color: #fdeaea !important;
    border: 0.5px solid #d94040 !important;
    color: #d94040 !important; 
    box-shadow: none !important;
    text-transform: none !important;
}

.fc-direction-ltr .fc-button-primary:hover,
.fc .fc-button-primary:not(:disabled):hover {
    background-color: #d94040 !important;
    color: white !important;
    border-color: #d94040 !important;
}

.fc .fc-today-button:disabled {
    background-color: #fdeaea !important;
    border: 0.5px solid #d94040 !important;
    color: #d94040 !important;
    opacity: 1 !important;
}

.fc .fc-today-button:disabled:hover {
    background-color: #d94040 !important;
    color: white !important;
}



/* 활성화된 버튼 (month/week/day 선택된 것) */
.fc .fc-button-active {
    background-color: #d94040 !important;
    color: white !important;
}

/* hover */
.fc .fc-button:hover {
    background-color: #f5c0c0 !important;
}

/* 달 이름 */
.fc .fc-toolbar-title {
    color: #333333 !important;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}